{% extends 'template.html.twig' %}
{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ PUB_DIR }}styles/style.css">
{% endblock %}
{% block heroImg %}
    <img src="{{ IMG_DIR }}poetini.png"
         alt="Poëtini Logo"
         class="max-w-[75%] lg:max-w-[37%] mx-auto pt-16     lg:pt-20">
{% endblock %}

{% block heroText %}
    <ul class="w-fit mx-auto pt-12 lg:pt-14 leading-[1.6] text-2xl lg:text-sm font-normal lg:font-semibold text-gray-700 space-y-2">
        <li class="flex justify-between gap-12 lg:gap-4">
            <span class="text-left lg:text-right w-8">mar</span> <span>14 — 19</span>
        </li>
        <li class="flex justify-between gap-12 lg:gap-4">
            <span class="text-left lg:text-right w-8">mer</span> <span>14 — 19</span>
        </li>
        <li class="flex justify-between gap-12 lg:gap-4">
            <span class="text-left lg:text-right w-8">jeu</span> <span>14 — 19</span>
        </li>
        <li class="flex justify-between gap-12 lg:gap-4">
            <span class="text-left lg:text-right w-8">ven</span> <span>14 — 19</span>
        </li>
        <li class="flex justify-between gap-12 lg:gap-4">
            <span class="text-left lg:text-right w-8"><a href="?route=displayAll">sam</a></span> <span>12 — 19</span>
        </li>
    </ul>

{% endblock %}
{% block sectionOne %}
    <div class="flex flex-col mt-8 w-fit mx-auto gap-y-12 lg:gap-y-8 text-center text-xl lg:text-sm font-semibold text-gray-700">
        <div>
            <p>Rue de Roumanie, 28</p>
            <p>1060 Bruxelles</p>
        </div>
        <div>
            <p>+32 &lpar;0&rpar; 852 62 36</p>
        </div>
        <div>
            <p><a href="mailto:info@librairie-poetini.be" class="text-green-500 text-xl lg:text-sm">info@librairie-poetini.be</a></p>
        </div>
        <div>
            <p>TVA : BE 0 554 631 548</p>
        </div>
        <a href="https://www.librel.be/magasins/Saint-gilles/Poetini-6208/"
           target="_blank"
           class="flex flex-col items-center mb-6">
            <button class="track-click mt-4 px-4 py-2 border border-gray-400 rounded-lg hover:bg-green-500 hover:text-white transition duration-200 ease-in-out focus:outline-none"
                    id="librelButton">
                Reserver un livre
            </button>
        </a>
    </div>
{% endblock %}
{% block sectionTwo %}
    <div class="w-full aspect-[4/3] max-w-4xl mx-auto mb-12">
        <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2520.181234372348!2d4.348203276218684!3d50.82780687166675!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c3c460bd54f47f%3A0xb4d6b028b6326edf!2sRue%20de%20Roumanie%2028%2C%201060%20Saint-Gilles!5e0!3m2!1sfr!2sbe!4v1744545278628!5m2!1sfr!2sbe"
                style="border:0;"
                allowfullscreen=""
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"
                class="w-full h-full"
        ></iframe>
    </div>

{% endblock %}
{% block sectionThree %}
    <div class="flex flex-row justify-center gap-x-6 mb-6 pb-6 mx-auto">
    <a href="https://www.facebook.com/librairiepoetini" target="_blank" rel="noopener">
        <i class="fab fa-facebook text-3xl text-blue-600"></i>
    </a>
    <a href="https://www.instagram.com/librairiepoetini/" target="_blank" rel="noopener">
        <i class="fab fa-instagram text-3xl"></i>
    </a>
    </div>
{% endblock %}

{% block javascript %}
    <script src="{{ PUB_DIR }}scripts/buttonFlash.js"></script>
{% endblock %}