{% extends "template.html.twig" %}

{% block title %}{{ parent() }} | Private{% endblock %}

{% block hero %}
    <div class="flex flex-col mt-12 mx-auto w-fit items-center">
        <div class="flex flex-col mx-auto w-fit items-center">

            <h3 class="text-3xl text-red-600" id="systemMessage">{% if systemMessage %}{{ systemMessage }}{% endif %}   </h3>

        </div>
        {% if sessionRole == NULL %}
            <form action="" method="post">
                <label for="password">Password : </label>
                <input class="my-4 border border-gray-400 focus:outline-slate-400 rounded-md w-full shadow-sm px-5 py-2" type="password" id="password" name="password" placeholder="Password" autofocus>
                <button type="submit" class="align-middle select-none font-sans font-bold text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-3 px-6 bg-gray-900 text-white shadow-md shadow-gray-900/10 hover:shadow-lg hover:shadow-gray-900/20 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none rounded-full">Go</button>
            </form>
        {% else %}
            {% include "private/inc/_logTable.html.twig" %}
        {% endif %}



    </div>
{% endblock %}
{% block javascript %}
<script src="{{ PUB_DIR }}scripts/tableSorter.js"></script>
{% endblock %}
